li {
  margin-bottom: 16px;
}
ul > li:first-child > span {
  color: white;
  background-color: red;
}
ul > li:last-child > span {
  color: white;
  background-color: black;
}
li:nth-child(even) > span {
  margin-left: 16px;
}
p:nth-child(1) {
  background-color: grey;
}
p:nth-child(4) {
  background-color: grey;
}
