.header {
  height: 50px;
  background-color: yellow;
}

.footer {
  height: 50px;
  background-color: green;
  clear: both;
}

main {
  background-color: pink;
  height: 500px;
  width: 80%;
  float: left;
}

.sidebar {
  background-color: grey;
  height: 500px;
  width: 20%;
  float: left;
}
