@mixin for-medium-up {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin for-large-up {
  @media screen and (min-width: 900px) {
    @content;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.navigation {
  background-color: #ff7f50;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.producrs-list {
  background-color: #006400;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.news {
  background-color: #0ff;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
}

span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #faebd7;
  border-radius: 4px;
  padding: 8px;
  margin: auto;
}

.main {
  display: flex;
  flex-grow: 1;
}
