.rectangle {
  background-color: pink;
  width: 600px;
  height: 90px;
  margin: 200px;
  box-shadow: 0 0 0 2px black, 0 0 0 50px green, 0 0 0 52px black,
    0 0 0 100px yellow, 0 0 0 102px black, 0 0 0 152px blue, 0 0 0 154px black;
}
